*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}



.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

body{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #000;
    color: #fff;
    
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

li{
    list-style: none;
}

header{
    margin-bottom: 200px;
    
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300;
    padding: 30px;
}

nav ul{
    display: flex;
    gap: 30px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    
}